body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.body_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  font-size: 50px;
}

.btn {
  cursor: pointer;
}

.js-name-form,
.js-name-text {
  display: none;
}

.showing {
  display: block;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -1;
}
